<application>
  ...
  <meta-data
    android:name="com.google.android.gms.auth.api.credentials.CREDENTIAL_PICKER"
    android:value="@integer/google_play_services_version" />
  <meta-data
    android:name="com.google.android.gms.auth.api.signin"
    android:value="@integer/google_play_services_version" />
  ...
</application>